<h1>Welcome to Hoagieshop</h1>

<% if current_user %>
  <%= link_to 'Products', products_path %>

  <%= link_to 'Make an order',new_order_path %>

  <%= link_to 'Change Personal Details',edit_user_registration_path %>

  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>

  

<% else %>
  <%= link_to 'Products', products_path %>

  <%= link_to 'Sign up', new_user_registration_path %>

  <%= link_to 'Sign in', new_user_session_path %>


<% end %>








