<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :breadtype %>
    <%= form.select :breadtype, ['White bread', 'Wholemeal bread', 'Rye bread']%>
  </div>

  <div class="field">
    <%= form.label :ingredient %>
    <%= form.select :ingredient, ['None', 'Ham', 'Bacon', 'Chicken', 'Salami', 'Quinoa']%>
  </div>

  <div class="field">
    <%= form.label :vegetable %>

    <%= label_tag 'tomato', 'Tomato' %>
    <%= check_box_tag 'order[vegetable][]', 'Tomato', id:'tomato' %>

    <%= label_tag 'lettuce', 'Lettuce' %>
    <%= check_box_tag 'order[vegetable][]', 'Lettuce', id:'lettuce' %>

    <%= label_tag 'onions', 'Onions' %>
    <%= check_box_tag 'order[vegetable][]', 'Onions', id:'onions' %>

    <%= label_tag 'cucumber', 'Cucumber' %>
    <%= check_box_tag 'order[vegetable][]', 'Cucumber', id:'cucumbers' %>

  </div>

  <div class="field">
    <%= form.label :condiment %>
    <%= form.select :condiment, ['None', 'Mayonnaise', 'Ketchup', 'Curry', 'Chilli', 'Sour cream']%>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, min:"1", value:"1" %>
  </div>

  <div class="field">
    <%= label_tag 'delivery', 'Delivery' %>
    <%= check_box_tag 'order[delivery]', 'Delivery', id:'delivery' %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

