<html>
<head>
  <meta charset="utf-8">
  <title> Hoagie Online Shop </title>
</head>
<body>
<header>
  <section>
    <h1> Hoagie Online Shop </h1>
    <hr>
  </section>
  <nav>
    <ul>
      <% if current_user %>
        <li><%= link_to 'Home', root_path %></li>

        <li><%= link_to 'Products', products_path %></li>

        <li><%= link_to 'Your Orders', orders_path, class: "active" %></li>

        <li><%= link_to 'Change Personal Details', edit_user_registration_path %></li>

        <li><%= link_to 'Reviews', reviews_path %></li>

        <li><%= link_to 'About Us', aboutus_index_path %></li>

        <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>


      <% else %>
        <li><%= link_to 'Home', root_path, class: "active" %></li>

        <li><%= link_to 'Products', products_path %></li>

        <li><%= link_to 'Reviews', reviews_path %></li>

        <li><%= link_to 'About Us', aboutus_index_path %></li>

        <li><%= link_to 'Products', products_path %></li>

        <li><%= link_to 'Sign up', new_user_registration_path %></li>

        <li><%= link_to 'Sign in', new_user_session_path %></li>
      <% end %>

    </ul>
  </nav>
  <hr>
</header>
<main>
  <figure>
    <%= image_tag("order", height: '290', width: '580', class: "bild") %>
  </figure>
  <section>

    <% if current_user.admin %>
      <table align="center">
        <thead>
        <div class="row">
          <div class="col-sm-2"><span class="label label-primary">Breadtype</span></div>
          <div class="col-sm-2"><span class="label label-warning">Ingredient</span></div>
          <div class="col-sm-2"><span class="label label-success">Vegetable</span></div>
          <div class="col-sm-2"><span class="label label-danger">Condiment</span></div>
          <div class="col-sm-1"><span class="label label-default">Amout</span></div>
          <div class="col-sm-3"></div>
        </div>
        </thead>

        <tbody>
        <% @orders.each do |order| %>
          <div class="row">
            <div class="col-sm-2"><%= order.breadtype %></div>
            <div class="col-sm-2"><%= order.ingredient %></div>
            <div class="col-sm-2"><%= order.vegetable %></div>
            <div class="col-sm-2"><%= order.condiment %></div>
            <div class="col-sm-1"><%= order.amount %></div>
            <div class="col-sm-3">
              <%= link_to 'Show', order %> |
              <%= link_to 'Update', edit_order_path(order) %> |
              <%= link_to 'Cancel', order, method: :delete, data: {confirm: 'Are you sure?'} %></div>
          </div>
          </div>
        <% end %>
        </tbody>
      </table>

    <% else %>

      <table align="center">
        <thead>
        <div class="row">
          <div class="col-sm-2"><span class="label label-primary">Breadtype</span></div>
          <div class="col-sm-2"><span class="label label-warning">Ingredient</span></div>
          <div class="col-sm-2"><span class="label label-success">Vegetable</span></div>
          <div class="col-sm-2"><span class="label label-danger">Condiment</span></div>
          <div class="col-sm-1"><span class="label label-default">Amout</span></div>
          <div class="col-sm-3"></div>
        </div>
        </thead>

        <tbody>
        <% @orders.each do |order| %>
          <div class="row">
            <div class="col-sm-2"><%= order.breadtype %></div>
            <div class="col-sm-2"><%= order.ingredient %></div>
            <div class="col-sm-2"><%= order.vegetable %></div>
            <div class="col-sm-2"><%= order.condiment %></div>
            <div class="col-sm-1"><%= order.amount %></div>
            <div class="col-sm-3">
              <%= link_to 'Show', order %> |
              <%= link_to 'Update', edit_order_path(order) %>
             </div>
          </div>
          </div>
        <% end %>
        </tbody>
      </table>

    <% end %>

    <br>

    <%= link_to 'Make an order', new_order_path, class: "btn btn-primary btn-lg btn-block", role: "button" %>
  </section>
  <hr>
</main>
<footer>
  <h3> You will find us here: </h3>
  <div>
    <a href="https://www.facebook.com/" target="blank1"><%= image_tag("facebook", :size => "40x40") %></a>
    <a href="https://instagram.com/" target="blank2"><%= image_tag("instagram", :size => "40x40") %></a>
    <a href="https://www.twitter.com/" target="blank3"><%= image_tag("twitter", :size => "40x40") %></a>
    <div>
</footer>
</body>
</html>