<html>
  <head>
    <meta charset="utf-8">
    <title> Hoagie Online Shop </title>
  </head>
  <body>
    <header>
      <section>
        <h1> OUR PRODUCTS </h1>
        <hr>
      </section>  
      <nav>
        <ul>
          <% if current_user %>
    <li><%= link_to 'Home', root_path %></li>

    <li><%= link_to 'Products', products_path, class: "active" %></li>

    <li><%= link_to 'Your Orders', orders_path %></li>

    <li><%= link_to 'Change Personal Details',edit_user_registration_path %></li>

    <li><%= link_to 'Reviews', reviews_path %></li> 

    <li><%= link_to 'About Us', aboutus_index_path %></li>

    <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>

  

<% else %>
    <li><%= link_to 'Home', root_path %></li>

    <li><%= link_to 'Products', products_path, class: "active" %></li>

    <li><%= link_to 'Reviews', reviews_path %></li> 

    <li><%= link_to 'About Us', aboutus_index_path %></li> 

    <li><%= link_to 'Sign up', new_user_registration_path %></li>

    <li><%= link_to 'Sign in', new_user_session_path %></li>
<% end %>

        </ul>
      </nav>
      <hr>
    </header>

    <main>
      <section>
          <%= image_tag("ingredients.jpg", height: '290', width: '800', class: "bild") %>

  <thead>
    <div class="row">
  <div class="col-sm-2"><span class="label label-primary">Name</span></div>
  <div class="col-sm-1"><span class="label label-success">Vegan</span></div>
  <div class="col-sm-4"><span class="label label-warning">Description</span></div>
  <div class="col-sm-3"><span class="label label-default">Category</span></div>
  <% if current_user && current_user.admin %>
    <div class="col-sm-2"></div>
  <% end %>
</div>
  </thead>

  <tbody>
    <% @products.each do |product| %>

<div class="row">
  <div class="col-sm-2"><%= product.name %></div>
  <div class="col-sm-1"><% if product.vegan %>
            <span class="glyphicon glyphicon-ok"></span>
          <% else %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %></div>
  <div class="col-sm-4"><%= product.desc %></div>
  <div class="col-sm-3"><%= link_to Category.find(product.category_id).name, category_path(product.category_id) %></div>
  <% if current_user && current_user.admin %>
    <div class="col-sm-2"><td><%= link_to 'Show', product %></td>
            <td><%= link_to 'Edit', edit_product_path(product) %></td>
            <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </div>
  <% end %>
</div>

        

    <% end %>
  </tbody>

<br>

<% if current_user && current_user.admin %>
  <%= link_to 'New Product', new_product_path %>
<% end %>
</section>
</main>
    <footer> 
      <h3> You will find us here: </h3>
       <div>
        <a href="https://www.facebook.com/" target="blank1"><%= image_tag("facebook", :size => "40x40") %></a>
        <a href="https://instagram.com/" target="blank2"><%= image_tag("instagram", :size => "40x40") %></a>
        <a href="https://www.twitter.com/" target="blank3"><%= image_tag("twitter", :size => "40x40") %></a>
       <div>
    </footer>
  </body> 
</html>