<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Vegan:</strong>
  <%= @product.vegan %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.desc %>
</p>

<p>
  <strong>Category:</strong>
  <%= link_to Category.find(@product.category_id).name, category_path(@product.category_id) %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
